h1{

font-size: 38px;
font-family: sans-serif;
text-align: center;

}
body{
  background-color: #ECECEC;
  position: relative;
  background-repeat: no-repeat;

}
div {
    display: block;
}

  #nav {
text-align: center;
  	margin:0;
  	padding:0;
    border-color: #000;
    border-style: solid;
    border-width: medium;
  }

  li {
    text-decoration-color:#000;
  	display: inline;
  	padding:0;
  	margin:5px;
  }

  #block {
  	width: 3%;
  	//float: left;
    top: 1px;
  	margin-right: 10px;
  }
footer{
  font-size: 20px;
  font-family: serif;
  text-align: center;
  bottom: 0;
}
